.view td
{
  vertical-align: top;
}

.sortabletable
{

}
.sortabletable tr,
.sortabletable tr.odd,
.sortabletable tr.even
{
  float: left;
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 3px solid #ddd;
  background-color: #fff;
/*  background: white;*/
/*  padding: 4px;*/
  cursor: move;
}
.sortabletable .ui-state-highlight
{
  float: left;
  border: 3px dashed #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  background: #fff;
}
.sortabletable thead tr
{
    border: 0px;
    cursor: default;
    width: 100%;
}
.sortabletable tr .handle
{
  display: none;
}
.sortabletable tr:hover .handle
{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 5px;
  left: 5px;
  background: url('sort.png') top center no-repeat transparent;
/*  margin: 5px 0px 0px 5px;*/
  display: block;
}